@{
    ViewData["Title"] = "Buscar proveedor";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm text-center">
            <h1 class="lblSearch">
                Buscar proveedor
            </h1>
        </div>
    </div>
</div>

<div class="SearchBox">
    <form action="/" method="post" class="formSeach">
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-danger w-100" id="btnRegresar" asp-action="AddMedicine">Regresar</a>
            </div>
            <div class="col-md-1">
                <label class="lblSearch">
                    Buscar:
                </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="px-4 form-control" name="busqueda" placeholder="Código / nombre" />
            </div>
            <div class="col-md-2">
                <a class="btn btn-info w-100" id="btnBuscar">Buscar</a>
            </div>
        </div>
    </form>
    <br />
</div>
<form action="/" method="post" class="formTable">
    <div class="table-responsive">
        <div class="TableHeader">
            <div class="row">
                <div hidden>
                    <div class="lblHeader">
                        <p>ID</p>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="lblHeader">
                        <p>Cod</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="lblHeader">
                        <p>Nombre</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="lblHeader">
                        <p>Correo</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="lblHeader">
                        <p>Telefono</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="lblHeader">
                        <p>Opciones</p>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td hidden>1</td>
                    <th class="col-sm-1 text-truncate text-center text-break">00001</th>
                    <td class="col-sm-3 text-truncate">Nutro</td>
                    <td class="col-sm-2 text-truncate" style="max-width:550px;">ejemplo@ejemplo.com</td>
                    <td class="col-sm-3 text-wrap text-center">1111-1111</td>
                    <td class="col-md-2 text-wrap">
                        <a type="button" class="rounded  m-1 p-0 border border-light bg-transparent text-decoration-none text-dark" id="btnSelect1" asp-action="AddMedicine">
                            <img src="~/resources/click-img.jpeg" height="25px" width="25px" alt="Sel">
                            <span class="text-dark"> Seleccionar </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td hidden>2</td>
                    <th class="col-sm-1 text-truncate text-center text-break">00002</th>
                    <td class="col-sm-3 text-truncate">KlinKat</td>
                    <td class="col-sm-2 text-truncate" style="max-width:550px;">ejemplo@ejemplo.com</td>
                    <td class="col-sm-3 text-wrap text-center">1111-1111</td>
                    <td class="col-md-2 text-wrap">
                        <a type="button" class="rounded  m-1 p-0 border border-light bg-transparent text-decoration-none text-dark" id="btnSelect2" asp-action="AddMedicine">
                            <img src="~/resources/click-img.jpeg" height="25px" width="25px" alt="Sel">
                            <span class="text-dark"> Seleccionar </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td hidden>3</td>
                    <th class="col-sm-1 text-truncate text-center text-break">00003</th>
                    <td class="col-sm-3 text-truncate">Purina</td>
                    <td class="col-sm-2 text-truncate" style="max-width:550px;">ejemplo@ejemplo.com</td>
                    <td class="col-sm-3 text-wrap text-center">1111-1111</td>
                    <td class="col-md-2 text-wrap">
                        <a type="button" class="rounded  m-1 p-0 border border-light bg-transparent text-decoration-none text-dark" id="btnSelect3" asp-action="AddMedicine">
                            <img src="~/resources/click-img.jpeg" height="25px" width="25px" alt="Sel">
                            <span class="text-dark"> Seleccionar </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>