@model AspNetVet.Models.AppUsers

@{
    ViewData["Title"] = "Editar Usuario";
}

<style>
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }

    .lblSearch {
        font-size: 32px;
        font-weight: bold;
        color: #3c3c7b;
        margin-top: 20px;
    }

    .form-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .form-group {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 30px;
        align-items: center;
    }

    .form-label {
        width: 150px;
        text-align: right;
        padding-right: 20px;
        font-weight: bold;
        color: #3c3c7b;
    }

        .form-field input,
        .form-field select,
        .form-field textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

    .bottom-buttons {
        display: flex;
        justify-content: space-between;
        background-color: #eeebf8;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 20px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
    }

    .form-label {
        width: 100%;
        text-align: left;
        padding-bottom: 5px;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm text-center">
            <h1 class="lblSearch">Actualizar Usuario</h1>
        </div>
    </div>
</div>
<br />
<br />

<form asp-action="EditAppUser" method="post">
    <div class="form-container">
        <div class="form-group row">
            <div class="col-sm-1">
                <label class="form-label" asp-for="Code">Código:</label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Code" class="form-control"/>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-1">
                <label class="form-label" asp-for="FullName">Nombre completo:</label>
            </div>
            <div class="col-sm-4">
                <input asp-for="FullName" class="form-control"/>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="col-sm-1">
                <label class="form-label" asp-for="Email">Correo:</label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-1">
                <label class="form-label" asp-for="Phone">Teléfono:</label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="col-sm-1">
                <label class="form-label" asp-for="Roles_Id">Cargo:</label>
            </div>
            <div class="col-sm-4">
                <select asp-for="Roles_Id" asp-items="ViewBag.Roles" class="form-control">
                    <option value="">Seleccione un cargo</option>
                </select>
                <span asp-validation-for="Roles_Id" class="text-danger"></span>
            </div>
        </div>

        <input type="hidden" asp-for="Status" value="true" />
    </div>

    <div class="bottom-buttons">
        <div class="row w-100 d-flex">
            <div class="col-sm-3"></div>
            <div class="col-sm-5 w-25">
                <a asp-action="Index" class="btn btn-danger w-100 h-100 align-content-center">Regresar</a>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5 w-25">
                <a asp-action="Index" class="btn btn-warning w-100 h-100 align-content-center">Actualizar</a>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
