@{
    ViewData["Title"] = "Actualizar Raza";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm text-center">
            <h1 class="lblSearch">
                Actualizar Raza
            </h1>
        </div>
    </div>
</div>
<br />
<br />
<form action="/" method="post" class="container-fluid m-3">
    <div class="formAddMod">
        <div class="form-group row ">
            <div class="col-sm-2"></div>
            <div class="col-sm-1">
                <label class="formText" for="codigo"> Código: </label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="codigo" id="codigo" />
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1">
            <label class="formText" for="nombre"> Nombre: </label>
        </div>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="nombre" id="nombre" />
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br /> <br />

    <div class="formAddMod">
        <div class="form-group row ">
            <div class="col-sm-2">  </div>
            <div class="col-sm-1">
                <label class="formText" for="tipoRaza">Especie:</label>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="tipoRaza" name="tipoRaza">
                    <option>Especie1</option>
                    <option>Especie2</option>
                    <option>Especie3</option>
                    <option>Especie4</option>
                    <option>Especie5</option>
                </select>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary w-100" asp-action="Index">Buscar</a>
            </div>

        </div>
    </div>

    <div class="bottom-buttons">
        <div class="row w-100 d-flex">
            <div class="col-sm-3"></div>
            <div class="col-sm-5 w-25">
                <a asp-action="Index" class="btn btn-danger w-100 h-100 align-content-center">Regresar</a>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5 w-25">
                <a asp-action="Index" class="btn btn-warning w-100 h-100 align-content-center">Actualizar</a>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</form>