@model AspNetVet.Models.Suppliers

@{
    ViewData["Title"] = "Agregar Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .semi-transparent-container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        margin:  20px auto 20px auto;
        max-width: 960px;
    }

    .validation-summary-errors {
        color: red;
        margin-bottom: 10px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm text-center">
            <h1 class="lblSearch">Actualizar Proveedor</h1>
        </div>
    </div>
</div>

<div class="container-fluid semi-transparent-container">
    <form asp-action="AddSupplier" method="post" id="EditProveedorForm">
        <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>

        <div class="row mb-3">
            <div class="col-md-3">
                <label asp-for="Code" class="formText">Código:</label>
                <input asp-for="Code" class="form-control" placeholder="Ingrese el código" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="col-md-9">
                <label asp-for="Supplier_Name" class="formText">Nombre:</label>
                <input asp-for="Supplier_Name" class="form-control" placeholder="Ingrese el nombre del proveedor" />
                <span asp-validation-for="Supplier_Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <label asp-for="Phone" class="formText">Teléfono:</label>
                <input asp-for="Phone" class="form-control" placeholder="Ingrese el teléfono" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="col-md-9">
                <label asp-for="Contact_Name" class="formText">Nombre del contacto:</label>
                <input asp-for="Contact_Name" class="form-control" placeholder="Ingrese el nombre del contacto" />
                <span asp-validation-for="Contact_Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <label asp-for="Email" class="formText">Correo electrónico:</label>
                <input asp-for="Email" class="form-control" placeholder="Ingrese el correo electrónico" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="Province" class="formText">Provincia:</label>
                <select asp-for="Province" class="form-control" asp-items="ViewBag.Provincias">
                    <option value="">Seleccione una provincia</option>
                </select>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="District" class="formText">Distrito:</label>
                <select asp-for="District" class="form-control" asp-items="ViewBag.Distritos">
                    <option value="">Seleccione un distrito</option>
                </select>
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Canton" class="formText">Cantón:</label>
                <select asp-for="Canton" class="form-control" asp-items="ViewBag.Cantones">
                    <option value="">Seleccione un cantón</option>
                </select>
                <span asp-validation-for="Canton" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <label asp-for="Address" class="formText">Dirección</label>
                <textarea asp-for="Address" class="form-control" rows="3" placeholder="Ingrese la dirección"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="bottom-buttons">
            <div class="row w-100 d-flex">
                <div class="col-sm-3"></div>
                <div class="col-sm-5 w-25">
                    <a asp-action="Index" class="btn btn-danger w-100 h-100 align-content-center">Regresar</a>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 w-25">
                    <a asp-action="Index" class="btn btn-warning w-100 h-100 align-content-center">Actualizar</a>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
